/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&family=Berkshire+Swash&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  background: #ffbbbb4f;
  min-height: 100%;
  overflow-x: hidden;
}

* {
  // height: 100%;
  font-family: "Arima Madurai", cursive;
}

button,
input,
select {
  // padding: 5px 10px;
  background-color: white;
  border-radius: 10px;
  // POUR LES MEDIA QUERIES
  // width: 200px;
  // height: 40px;
  background-color: white;
  cursor: pointer;
}

.align-justify-center {
  justify-content: center;
  align-items: center;
}

.display-flex {
  display: flex;
}

.display-column {
  display: flex;
  flex-direction: column;
}

.align-justify-around {
  justify-content: space-around;
  align-items: center;
}

.align-center-justify-start {
  align-items: center;
  justify-content: start;
}

app-uni-form {
  position: absolute;
  left: 50%;
  // POUR LES MEDIA QUERIES
  // transform: translate(-50%, 22%);
  width: 100%;
}

// NEW
app-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
//

app-uni-list {
  // position: absolute;
  // left: 50%;
  // transform: translate(-50%, -8%);
  // width: 100%;
  // height: 100%;
  position: relative;
  // POUR LES MEDIA QUERIES
  // top: 120px;
}

// MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES

@media screen and (min-width: 1043px) {
  app-uni-form {
    transform: translate(-50%, 22%);
  }
}

@media screen and (min-width: 743px) and (max-width: 1042.9px) {
  app-uni-form {
    transform: translate(-50%, 18%);
  }
}

@media screen and (min-width: 622px) and (max-width: 742.9px) {
  app-uni-form {
    transform: translate(-50%, 12%);
  }
}

@media screen and (max-width: 621.9px) {
  app-uni-form {
    transform: translate(-50%, 9%);
  }
}

@media screen and (min-width: 840px) {
  button,
  input,
  select {
    width: 200px;
    height: 40px;
  }

  app-uni-list {
    top: 120px;
  }
}

@media screen and (min-width: 630px) and (max-width: 839.9px) {
  button,
  input,
  select {
    width: 160px;
    height: 30px;
  }

  app-uni-list {
    top: 120px;
  }
}

// @media screen and (min-width: 480px) and (max-width: 629.9px) {
@media screen and (max-width: 629.9px) {
  button,
  input,
  select {
    width: 160px;
    height: 30px;
  }

  app-uni-list {
    top: 110px;
  }
}

// @media screen and (min-width: 300px) and (max-width: 479.9px) {
// }
